.about {
  .description {
    p {
      line-height: 1.875rem;
      letter-spacing: 0.15px;
    }
  }
  &-ideas {
    &-title {
      letter-spacing: -0.045em;
      line-height: 53px;
      padding: 0.5rem 0 1.25rem;
    }
    &-inner {
      padding: 1.375rem 0.5rem;
    }
    &-thumb {
      position: relative;
      // &::after {
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   height: 100%;
      //   width: 93.5%;
      //   content: "";
      //   background-color: #979797;
      //   z-index: 1;
      //   opacity: 0.34;
      //   border-radius: 0.75rem;
      // }
      &-lg {
        border-radius: 0.75rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        position: relative;
        width: 90%;
      }
      &-sm {
        position: absolute;
        right: 1rem;
        bottom: -70px;
        border-radius: 0.75rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        z-index: 2;
      }
    }
  }
}
.year-base {
  color: $primary;
}
.number-text {
  padding-right: 3.25rem;
  margin-bottom: 3rem;
  padding-left: 0.675rem;
  color: $gray-100;
  letter-spacing: -0.065rem;
  line-height: 1.25rem;
}
.single {
  &-item {
    border: 1px solid transparent;
    padding: 36px;
    transition: all 0.3s ease-in-out;
    min-height: 380px;
    max-height: 380px;
    &-img{
      img{
        height: 100px;
      }
    }
    &:hover {
      border: 1px solid #f2f2f2;
      padding: 36px;
      background: #fff;
      box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
      cursor: pointer;
      border-radius: 10px;
    }
  }
}
