.card {
<<<<<<< HEAD
  &-date {
    margin-top: -1.875rem;
  }
  &-title {
    font-style: medium;
    line-height: 1.875rem;
    color: $headingChild;

    letter-spacing: -0.045rem;
=======
  &-body {
    padding: 28px 40px;
  }
  &-title {
    font-style: medium;
    line-height: 1.375rem;
    color: $headingChild;
>>>>>>> 2b0cfb7e720e45628a768eb2f211090fbd06bba7
  }
  &-text {
    font-style: normal;
    line-height: 1.75rem;
    letter-spacing: 0.35px;
  }
}
<<<<<<< HEAD
.service {
  .card {
    border-bottom: 7px solid $btnBgSecondary;
  }
}
.custom-card {
  &:hover {
    .card {
      &-title {
        color: $danger;
      }
      &-btn {
        background: $btnBgPrimary;
        color: $light;
        border: 1px solid $btnBgPrimary;
      }
    }
  }
  .card {
    &-body {
      padding: 28px 38px;
    }
  }
}
.base {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.125rem 0.675rem;
  font-size: $fs-14;
  background: $danger;
  color: $light;
}
=======
>>>>>>> 2b0cfb7e720e45628a768eb2f211090fbd06bba7
