.card {
  transition: 0.3s;
  &-date {
    margin-top: -1.875rem;
  }
  &-title {
    font-style: medium;
    line-height: 1.875rem;
    color: $headingChild;

    letter-spacing: -0.045rem;
  }
  &-text {
    font-style: normal;
    line-height: 1.75rem;
    letter-spacing: 0.35px;
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
}
.service {
  .card {
    border-bottom: 7px solid $btnBgSecondary;
  }
}
.custom-card {
  cursor: pointer;

  &:hover {
    .card {
      &-title {
        color: $danger;
      }
      &-btn {
        background: $btnBgPrimary;
        color: $light;
        border: 1px solid $btnBgPrimary;
      }
    }
  }
  .card {
    &-body {
      padding: 28px 38px;
    }
  }
}
.base {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.125rem 0.675rem;
  font-size: $fs-14;
  background: $danger;
  color: $light;
}
