.card {
  &-body {
    padding: 28px 40px;
  }
  &-title {
    font-style: medium;
    line-height: 1.375rem;
    color: $headingChild;
  }
  &-text {
    font-style: normal;
    line-height: 1.75rem;
    letter-spacing: 0.35px;
  }
}
.service {
  .card {
    border-bottom: 7px solid $btnBgSecondary;
  }
}
.custom-card:hover {
  .card {
    &-title {
      color: $danger;
    }
    &-btn {
      background: $btnBgPrimary;
      color: $light;
      border: 1px solid $btnBgPrimary
    }
  }
  // .service {
  //   .card {
  //     border-bottom: 7px solid $danger;
  //   }
  // }
}
