@keyframes rotateacw {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotatecw {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
#contact {
  // background: $basePrimaryReverse;
  .form-control {
    // background: #decff74d;
    border: 1px solid #8b8bd5;
  }
}
.contact-location {
  height: 500px;
}
.bn {
  &.section {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    z-index: 2;
  }
  .contact-block {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 100px 0;
  }

  .contact-block-contact-s1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/images/shape/dot-map-2.png) no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
  .contact-block-contact-s1 .contact-list {
    position: relative;
    z-index: 2;
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }
  .contact-icon {
    height: 38px;
    width: 38px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background: $primary;
    box-shadow: $baseShadow;
    border-radius: 50%;
    margin-right: 15px;
    flex-shrink: 0;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: $purple-100;
    }
  }
  .contact-list li {
    display: flex;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    font-size: 0.94rem;
  }
  .contact-text {
    padding-top: 7px;
    // color: #b6bcc5;
  }
  .contact-circle-animation {
    height: 300px;
    width: 300px;
    z-index: 1;
  }
  .contact-df-center,
  .abs-center,
  .contact-block-video-play {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .contact-circle-animation.white:before {
    border-top-color: $gray-200;
    border-right-color: $gray-200;
  }
  .contact-circle-animation.small:before,
  .contact-circle-animation.small:after {
    border-width: 2px;
  }
  .contact-circle-animation:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top-color: #f42f54;
    border-right-color: #f42f54;
    animation: rotatecw 30s linear infinite 0s;
  }
  .contact-circle-animation.white:after {
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  .contact-circle-animation:after {
    top: 25px;
    left: 25px;
    bottom: 25px;
    right: 25px;
    border-top-color: #f42f54;
    border-bottom-color: #f42f54;
    animation: rotateacw 24s linear infinite 0s;
  }
  .contact-circle-animation:before,
  .contact-circle-animation:after {
    position: absolute;
    content: "";
    border: 4px solid $purple;
    border-radius: 50%;
    z-index: 100;
  }
  .field {
    &-item {
      margin-bottom: 30px;
    }
    &-wrap {
      .input-textarea {
        height: 150px;
      }
    }
    &-label {
      color: $primary-100;
    }
  }

  .contact-block-text-head p {
    color: $primary-100;
  }

  @media (min-width: 992px) {
    .section {
      padding-bottom: 120px;
      padding-top: 120px;
    }
  }

  @media (min-width: 576px) {
    .contact-block-contact-s1 {
      padding: 180px 0;
    }
    .contact-circle-animation {
      height: 500px;
      width: 500px;
      overflow: hidden;
      &.small {
        height: 480px;
        width: 480px;
        .contact-circle-animation:after {
          top: 45px;
          left: 45px;
          bottom: 45px;
          right: 45px;
        }
        &:after {
          top: 35px;
          left: 35px;
          bottom: 35px;
          right: 35px;
        }
      }
    }
  }
}

//
.contact-list {
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 6px 10px 0 #d9171a09;

  padding: 30px;
  border: 1px solid #6963891f;
  height: 100%;
  width: 100%;
}
.contact-list-title h4 {
  border: 1px solid #720ef7;
  padding: 8px;
  font-size: 22px;
  width: 78%;
  margin: 0 auto;
  background: #720ef7;
  color: #fff;
  border-radius: 8px;
}
