@keyframes rotateacw {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotatecw {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
#contact {
  // background: $basePrimaryReverse;
  .form-control {
    border: 1px solid #d5d1d1;
    box-shadow: none;
    // background: var(--baseBody);
    &:focus {
      border: 1px solid #8b8bd5;
    }
  }
}
.contact-location {
  height: 500px;
}
.bn {
  &.section {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    z-index: 2;
  }
  .contact-block {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    // padding: 100px 0;
  }

  .contact-block-contact-s1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/images/shape/dot-map-2.png) no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
  .contact-block-contact-s1 .contact-list {
    position: relative;
    z-index: 2;
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }
  .contact-icon {
    height: 38px;
    width: 38px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background: $primary;
    // box-shadow: $shadowPrimary;
    border-radius: 50%;
    margin-right: 15px;
    flex-shrink: 0;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: $purple-100;
    }
  }
  .contact-list li {
    display: flex;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    font-size: 0.94rem;
  }
  .contact-text {
    padding-top: 7px;
    // color: #b6bcc5;
  }
  .contact-circle-animation {
    height: 300px;
    width: 300px;
    z-index: 1;
  }
  .contact-df-center,
  .abs-center,
  .contact-block-video-play {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .contact-circle-animation.white:before {
    border-top-color: $gray-200;
    border-right-color: $gray-200;
  }
  .contact-circle-animation.small:before,
  .contact-circle-animation.small:after {
    border-width: 2px;
  }
  .contact-circle-animation:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top-color: #f42f54;
    border-right-color: #f42f54;
    animation: rotatecw 30s linear infinite 0s;
  }
  .contact-circle-animation.white:after {
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  .contact-circle-animation:after {
    top: 25px;
    left: 25px;
    bottom: 25px;
    right: 25px;
    border-top-color: #f42f54;
    border-bottom-color: #f42f54;
    animation: rotateacw 24s linear infinite 0s;
  }
  .contact-circle-animation:before,
  .contact-circle-animation:after {
    position: absolute;
    content: "";
    border: 4px solid $purple;
    border-radius: 50%;
    z-index: 100;
  }
  .field {
    &-item {
      margin-bottom: 30px;
    }
    &-wrap {
      .input-textarea {
        height: 150px;
      }
    }
    &-label {
      color: $primary-100;
    }
  }

  .contact-block-text-head p {
    color: $primary-100;
  }

  @media (min-width: 992px) {
    .section {
      padding-bottom: 120px;
      padding-top: 120px;
    }
  }

  @media (min-width: 576px) {
    .contact-block-contact-s1 {
      padding: 180px 0;
    }
    .contact-circle-animation {
      height: 500px;
      width: 500px;
      overflow: hidden;
      &.small {
        height: 400px;
        width: 400px;
        .contact-circle-animation:after {
          top: 45px;
          left: 45px;
          bottom: 45px;
          right: 45px;
        }
        &:after {
          top: 35px;
          left: 35px;
          bottom: 35px;
          right: 35px;
        }
      }
    }
  }
}

//
.contact-service {
  margin-top: 45px;
  margin-bottom: 20px;
  min-height: 250px;
  &-list {
    border: 1px solid #6963891f;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: var(--baeShadowLight);
    position: relative;
    .icon {
      height: 90px;
      width: auto;
      background: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: -48px;
      padding: 16px;
      z-index: 2;
      box-shadow: var(--baseShadow);
    }
    &-item {
      font-size: 15px;
      letter-spacing: 0.5px;
      font-family: "Poppins";
      line-height: 1.75rem;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        columns: $primary;
      }
    }
    .contact-gfx {
      margin-bottom: 40px;
    }
  }
}
.contact-list-title {
  margin-top: 1.5rem;
  h4 {
    border: 1px solid var(--basePrimary);
    padding: 0.35rem 1.5rem;
    font-size: 20px;
    margin: 0 auto;
    background: var(--basePrimary);
    color: #fff;
    border-radius: 8px;
  }
}
.contact-gfx2 {
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: auto;
  height: 105px;

  img {
    height: 110px;
    width: auto;
    opacity: 0.1;
    margin-right: -44px;
    margin-top: 23px;
  }
}
