@import "../../variables/variable.scss";
.title {
<<<<<<< HEAD
  font-size: 35px;
  line-height: 2.75rem;
  font-style: normal;
  padding-bottom: 1.5rem;
}
.subtitle {
  line-height: $fs-16;
}
.short-title {
  padding-bottom: 20px;
  margin-top: -27px;
  font-size: $fs-16;
  font-weight: $fw-medium;
  color: $gray;
=======
  line-height: 3.125rem;
  font-style: normal;
  padding-bottom: 1.125rem;
}
.subtitle {
  line-height: 1rem;
>>>>>>> 2b0cfb7e720e45628a768eb2f211090fbd06bba7
}
.footer-title {
  font-weight: $fw-medium;
  font-size: $fs-22;
}
<<<<<<< HEAD
.quote {
  font-size: 2.675rem;
  color: $gray-200;
  &-icon {
    height: 100%;
    width: 3rem;
  }
}
.link {
  font-family: $fontInter;
  color : $danger;
  letter-spacing: -0.045em;
  .icon {
    height: 2rem;
    width: 2rem;
  }
}
=======
>>>>>>> 2b0cfb7e720e45628a768eb2f211090fbd06bba7

.section-head {
  position: relative;
  margin-bottom: 2.675rem;
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 74px;
    height: 6px;
    background: $danger;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: none;
  }
}
<<<<<<< HEAD
.year-base {
  line-height: 220px;
=======
.service {
  .card {
    border-bottom: 7px solid $danger;
  }
>>>>>>> 2b0cfb7e720e45628a768eb2f211090fbd06bba7
}
