@import "../../variables/variable.scss";

.list {
  display: flex;
  align-items: center;
  &-icon {
    font-weight: normal;
    letter-spacing: normal;
    width: 36px;
    line-height: 1;
    flex-grow: 0;
    flex-shrink: 0;
  }
  &-content {
    flex-grow: 1;
    display: inline-block;
  }
}
.social-icon {
  li {
    padding: 0 0.75rem;
    a {
      color: $light;
    }
  }
}
