@import "../../variables/variable.scss";

.list {
  display: flex;
  align-items: center;
  &-icon {
    font-weight: normal;
    letter-spacing: normal;
    width: 2.25rem;
    line-height: 1;
    flex-grow: 0;
    flex-shrink: 0;
  }
  &-content {
    flex-grow: 1;
    display: inline-block;
  }
}
.social-icon {
  li:not(:last-child) {
    padding: 0 0.75rem;
  }
  li:last-child {
    padding-left: 0.75rem;
  }
}
