@import "../../variables/variable.scss";

.list {
  &-icon {
    font-weight: normal;
    letter-spacing: normal;
    width: 2.25rem;
    line-height: 1;
    flex-grow: 0;
    flex-shrink: 0;
  }
  &-content {
    flex-grow: 1;
    display: inline-block;
    font-size: $fs-14;
  }
}
.social-icon {
  display: flex;
  align-items: center;
  li:not(:last-child) {
    padding: 0 0.5rem;
  }
  li:last-child {
    padding-left: 0.5rem;
  }
}

@media (min-width: 576px) {
  .list {
    display: flex;
    align-items: center;
    &-content {
      font-size: $fs-16;
    }
  }
  .social-icon {
    li:not(:last-child) {
      padding: 0 0.75rem;
    }
    li:last-child {
      padding-left: 0.75rem;
    }
  }
}
