.author {
  &-content-bottom {
    p {
      color: $dark-100;
      line-height: 28px;
    }
  }
  &-thumb {
    height: 175px;
    width: 155px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.125));
    border: 1px solid transparent;
    border-radius: 16px;
  }
  &-wrap {
    background: url("/images/shape/shape-2.png");
    background-color: $bgLight;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 50px 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0 2px;
  }
}
.author-card {
  .author-content-bottom {
    height: 230px;
  }
}
