.slick {
  &-dots li button:before {
    font-size: 10px;
    color: $primary;
  }
  &-dots li.slick-active button:before {
    color: $primary;
  }
  &-dots {
    bottom: 0;
  }
  &-slide {
    padding: 0 .5rem;
  }
}
.testimonial,
.service {
  .slick {
    &-next {
      right: -16px;
    }
    &-prev::before,
    &-next::before {
      color: $gray-100;
      font-size: 2rem;
    }
  }
}
@media (max-width: 575px) {
  .slick {
    &-arrow {
      display: none !important;
    }
  }
}
