.slick {
  &-dots {
    li {
      margin: 0 3px;
      button:before {
        font-size: 13px;
        color: $primary;
      }
    }
  }
  &-dots li.slick-active button:before {
    color: $primary;
  }
  &-dots {
    bottom: -50px;
  }
  &-slide {
    padding: 0 0.5rem;
  }
}
.testimonial,
.service {
  .slick {
    &-next {
      right: -16px;
    }
    &-prev::before,
    &-next::before {
      color: $gray-100;
      font-size: 2rem;
    }
  }
}
@media (max-width: 575px) {
  .slick {
    &-arrow {
      display: none !important;
    }
  }
}
