.sub-header {
  background: url("images/shape/shape-1.png");
  background-color: $bgLight;
  background-position: right;
  background-repeat: no-repeat;
  height: 260px;
  &-inner {
    height: 260px;
  }
}
