.testimonial {
  &-wrap {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  &-item {
    padding: 20px 0px 30px;
  }
  &-bottom {
    .review {
      line-height: 1.875rem;
    }
  }
}
