@keyframes rotatecw {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.work {
  &-shape-wrap {
    padding: 0;
  }
  &-item {
    & .work-single-item:nth-child(1) {
      & .border-color {
        border: 7px solid $secondary;
      }
    }
    & .work-single-item:nth-child(2) {
      & .border-color {
        border: 7px solid $seaBlue;
      }
    }
    & .work-single-item:nth-child(3) {
      & .border-color {
        border: 7px solid rgb(82 70 187 / 64%);
      }
    }
  }
  &-single-item {
    height: 260px;
    width: 260px;
    box-shadow: 0px 0px 14px rgb(0 0 0 / 10%);
    background-color: $light;
    position: relative;
    &:nth-child(1) {
      .items-status.is-outline {
        display: none;
      }
    }
    &:not(:last-child):after {
      position: absolute;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background: #fff;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: auto;
      border: 2px solid $gray-100;
    }

    &:not(:last-child):before {
      position: absolute;
      display: block;
      width: 2px;
      height: 35px;
      background: $gray-100;
      content: "";
      top: 100%;
      left: 50%;
      transform: translate(-50%, 20%);
      bottom: 0;
      margin: auto;
    }
    &-border {
      padding: 10px;
      height: 240px;
      width: 240px;
      margin-left: 10px;
    }
  }
  .arrow {
    img {
      position: absolute;
      margin-left: 12px;
    }
    &-top {
      img {
        margin-top: -40px;
      }
    }
    &-bottom {
      img {
        margin-top: -10px;
      }
    }
  }

  &-icon {
    height: 50px;
    width: 100%;
  }
  &-title {
    line-height: 28px;
    margin-top: 1.125rem;
  }
}

.items-status.is-outline {
  position: absolute;
  height: 18px;
  width: 18px;
  flex-shrink: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $light;
  border: 2px solid $gray-100;
  border-radius: 50%;
}

@media (min-width: 767px) {
  .work {
    &-shape-wrap {
      padding: 3.75rem;
    }
  }
}
@media (min-width:768px) {
  .work-single-item {
    &:not(:last-child):after {
      bottom: 50%;
      left: unset;
      right: 0;
      transform: translateY(50%);
    }

    &:not(:last-child):before {
      width: 35px;
      height: 3px;
      top: 50%;
      left: 100%;
      right: unset;
      bottom: unset;
      transform: translateX(2%);
    }
  }
  .items-status.is-outline {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}
