@import "overrideStyle.scss";
@import "responsive.scss";
@import "./components/layout/Header.scss";
@import "./components/layout/nav.scss";
@import "./components/layout/responsiveMenu.scss";
@import "./components/footer.scss";
@import "./components/button/button.scss";
@import "./core/utilities.scss";
@import "./variables/variable.scss";

@import "./components/custom/list.scss";
@import "./components/custom/customs.scss";
@import "./components/custom/hero.scss";
@import "./components/custom/about.scss";
@import "./components/custom/testimonial.scss";
@import "./components/custom/card.scss";
@import "./components/custom/article.scss";
@import "./components/custom/work.scss";
@import "./components/custom/member.scss";
@import "./components/custom/service.scss";
@import "./components/custom/team.scss";
@import "./components/custom/contact.scss";
@import "./components/custom/policy.scss";
@import "./components/custom/portfolio.scss";
@import "./components/custom/serviceCard.scss";

@import "./components/custom/slick.scss";

@import "./components/custom/subHeader.scss";

/* Scrollbar Style */
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0.5rem;
  height: 10px;
}

/* scrollbar-thumb */
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4f35a1;
}

/* scrollbar-track */
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #d2c4ff;
}

