// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .portfolio .portfolio-box {
    width: 50%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    width: 90%;
    max-width: 1440px;
  }
  .hero {
    &-video {
      width: 100%;
    }
    .banner-gfx {
      // margin: 0 -80px 0 0;
    }
  }
  .width-md {
    width: 543px;
  }
  .portfolio .portfolio-box {
    width: 33.333333%;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
