@import "../../variables/variable.scss";
header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}
.topBar {
  background: $danger;
  padding: 7px;
  color: $light;
}

// header-bottom
.header-logo img {
  height: 100%;
  max-width: 200px;
}
