@import "../../variables/variable.scss";
header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}
.topBar {
  &-left {
    background-color: var(--baseSecondary);
    display: flex;
    align-items: center;
    position: relative;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 36px solid var(--baseSecondary);
      border-right: 36px solid transparent;
      border-left: 5px solid transparent;
      position: absolute;
      right: calc(0% - 40px);
      transform: skew(-103deg, 106deg);
    }
  }
  &-right {
    background-color: var(--baseLight);
    display: flex;
    align-items: center;
    .ticker {
      color: var(--baseDark);
      margin-left: 3rem;
    }
  }
}
#topBar {
  display: none;
  line-height: 60px;
}

// header-bottom
.header-logo img {
  height: 100%;
  max-width: 9.5rem;
}

@media (min-width: 576px) {
  #topBar {
    display: block;
  }
  .header-logo img {
    max-width: 12.5rem;
  }
}

// transparent header
.isTransparent {
  &.topBar {
    background: transparent;
    padding: 7px;
  }
}
.header-transparent,
.header-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.header-background {
  .nav-area {
    background: $basePrimaryGradient !important ;
  }
}

.section-topContact {
  margin-left: 300px;
}
