// *-------color--------*

// :root {
//   --basePrimary : linear-gradient(to right, #0c0f72, #252885, #090fb3);
//   --baseSecondary : linear-gradient(180deg, #f3222a 0%, #c71c22 44.27%, #c21c21 49.48%, #c11b21 49.49%, #be1b20 53.65%, #bd1b20 53.66%, #af1618 100%);
//   --textDanger : #f50e16;
// }

// Base
$basePrimary: linear-gradient(to right, #0c0f72, #252885, #090fb3);
$baseSecondary: linear-gradient(180deg, #f3222a 0%, #c71c22 44.27%, #c21c21 49.48%, #c11b21 49.49%, #be1b20 53.65%, #bd1b20 53.66%, #af1618 100%);

// btn
$btnBgPrimary: linear-gradient(180deg, #f3222a 0%, #c71c22 44.27%, #c21c21 49.48%, #c11b21 49.49%, #be1b20 53.65%, #bd1b20 53.66%, #af1618 100%);
$btnBgSecondary: #5a5a5a;
$btnColor: #ffffff;

// global-color
$dark: #000;
$dark-100: #3d3d3d;
$light: #ffffff;
$primary: #090fb3;
$danger: #f50e16;
$danger-100: #d70c13;
$gray: #666666;
$gray-100: #ababab;
$gray-200: #e7e7e7;
$seaBlue: #16cabd;

// body-background
$bgLight: #fbfbff;

// border
$borderColor: #dfdfdf;

// text-color
$heading: #242424;
$headingChild: #4e4e4e;
$paragraph: #5b5b5b;

$h-100vh: 100vh;

// *----------- Font -----------*

// font-size
$fs-200: 12.5rem;
$fs-64: 4rem;
$fs-45: 2.8125rem;
$fs-36: 2.25rem;
$fs-22: 1.375rem;
$fs-20: 1.25rem;
$fs-18: 1.125rem;
$fs-16: 1rem;
$fs-14: 0.875rem;
$fs-12: 0.75rem;

// font-weight
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-bolder: 800;

// font-family
$fontPoppins: "Poppins", sans-serif;
$fontInter: "Inter", sans-serif;
$fontUbuntu: "Ubuntu", sans-serif;
