body {
  overflow-x: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  font-family: $fontPoppins;
  color: $paragraph;
  font-weight: $fw-normal;
  font-size: $fs-14;
  line-height: 1.875rem;
}

.base-bg-light {
  background: $bgLight;
}
.base-bg-white {
  background-color: $light;
}
.base-bg-lightPeo {
  background-color: $bgPurpleLight;
}

.section-bg {
  background-color: var(--baseBody);
}

// color
.danger {
  color: $danger;
}
.primary {
  color: $primary;
}
.warning {
  color: $warning;
}
//bg
.primary-bg {
  color: $light;
  background: $primary;
}
.danger-bg {
  color: $light;
  background: $danger;
}
.warning-bg {
  color: $light;
  background: $warning;
}

.h-100vh {
  height: 100vh;
}
.h-80vh {
  height: 80vh;
}
.h-50vh {
  height: 80vh;
}
.w-70{
  width: 70%;
}
.section-gap {
  padding: 80px 0;
}
.base-top-gap {
  margin-top: 110px;
}
.section-gap-bottom {
  padding-bottom: 80px;
}
.section-block {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

// badge
.badge {
  &.primary-bg {
    padding: 4px 14px !important;
    line-height: 13px;
  }
}

// font-size
// font-size
.fs-200 {
  font-size: $fs-200;
}
.fs-64 {
  font-size: $fs-64;
}
.fs-45 {
  font-size: $fs-45;
}
.fs-36 {
  font-size: $fs-36;
}
.fs-32 {
  font-size: $fs-32;
}
.fs-22 {
  font-size: $fs-22;
}
.fs-20 {
  font-size: $fs-20;
}
.fs-18 {
  font-size: $fs-18;
}
.fs-16 {
  font-size: $fs-16;
}
.fs-14 {
  font-size: $fs-14;
}
.fs-12 {
  font-size: $fs-12;
}

// font-weight
.fw-light {
  font-weight: $fw-light;
}
.fw-normal {
  font-weight: $fw-normal;
}
.fw-medium {
  font-weight: $fw-medium;
}
.fw-semibold {
  font-weight: $fw-semibold;
}
.fw-bold {
  font-weight: $fw-bold;
}
.fw-bolder {
  font-weight: $fw-bolder;
}

// font-family

.font-Poppins {
  font-family: $fontPoppins;
}
.font-Inter {
  font-family: $fontInter;
}
.font-Ubuntu {
  font-family: $fontUbuntu;
}
