.App {
  font-family: sans-serif;
  text-align: center;
  width: 70vw;
  margin: 0 auto;
}

h3 {
  margin-top: 0;
}

.tabs-component [role="tablist"] {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  margin-bottom: 40px;
}

.tabs-component [role="tablist"] button {
  cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    border: 1px solid transparent;
    margin: 0 6px;

}
.tabs-component [role="tablist"] button.active, .tabs-component [role="tablist"] button:hover {
  color: #fff;
    background-color: #5846f9;

}

.tabs-component.vertical {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tabs-component.vertical [role="tablist"] {
  flex-direction: column;
}

.tabs-component.vertical [role="tabpanel"] {
  flex: 1;
}

