.btn {
  font-family: $fontUbuntu;
  font-style: normal;
  line-height: 17px;
  font-weight: $fw-medium;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 6px;
  color: $light;
  padding: 0.75rem 1.875rem;
  &.button-base-primary {
    background: $basePrimaryGradient;
    &:hover {
      color: $light-100;
    }
  }
  &.button-base-warning {
    background: $baseWarning;
    &:hover {
      color: $light-100;
    }
  }
  &.button-base-warning-outline {
    background: transparent;
    border: 2px solid $baseWarning;
    color: $baseWarning !important;
    &:hover {
      color: $light-100 !important;
      background: $baseWarning;
    }
  }
  &.button-base-secondary {
    background: $btnBgSecondary;
    &:hover {
      color: $light-100;
    }
  }
  &.button-login {
    padding: 0.5rem 1.75rem !important;
  }
}
.submit-btn {
  padding: 0px 24px;
}
